* {
      box-sizing: border-box;
}

html {
      font-size: 62, 5%;
}

:root {
      --primary-color: #0f1b4c;
}
body {
      font-size: 1.6rem;
      font-family: "Poppins", sans-serif;
}

/* common   */

.line-clamp {
      display: -webkit-box;
      -webkit-line-clamp: var(--line-clamp, 2);
      -webkit-box-orient: vertical;
      overflow: hidden;
}
.btn:hover {
      opacity: 0.5;
}
.btn {
      display: inline-block;
      padding: 18px 16px;
      min-width: 98px;
      background: var(--primary-color);
      border-radius: 12px;
      font-weight: 500;
      font-size: 1rem;
      line-height: 21px;
      text-align: center;
      color: #ffffff;
}

a {
      text-decoration: none;
}
.content {
      width: 1110px;
      margin-left: auto;
      margin-right: auto;
      max-width: calc(100%-48px);
}

/* header */
.fixed-header {
      background-color: #e6f0ff;
      padding-top: 26px;
      position: sticky;
      top: -26px;
      z-index: 1;
}

.hero-wrap {
      background-color: #e6f0ff;
      min-height: 100vh;
      position: relative;
      display: flex;
      flex-direction: column;
}

.navbar {
      display: flex;
      align-items: center;
      /* padding-top: 38px; */
      padding: 12px 0;
}

.navbar ul {
      display: flex;
      margin-left: 50px;
}

.navbar .actions {
      margin-left: auto;
      /* font-size: 14px; */
}

.navbar ul a {
      font-weight: 500;
      font-size: 1.2rem;
      color: #4f5361;
      padding: 8px 14px;
}

.navbar ul a:hover {
      text-decoration: underline;
}

.navbar .action-link {
      font-weight: 500;
      font-size: 1rem;
      color: var(--primary-color);
}

.navbar .action-btn {
      padding: 13px 16px;
      margin-left: 18px;
      border-radius: 8px;
}

.hero {
      margin-top: 130px;
}

.hero .info {
      width: 51%;
}

.hero .sub-title {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.5;
      letter-spacing: 0.01em;
      color: #687690;
}

.hero .title {
      margin-top: 8px;
      font-weight: 700;
      font-size: 3.5rem;
      line-height: 1.19;
      color: var(--primary-color);
}

.hero .desc {
      margin-top: 30px;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.7;
      color: #5a6473;
}

.hero-cta {
      margin-top: 40px;
      min-width: 170px;
}

.hero .hero-img {
      position: absolute;
      right: calc((100vw - 1110px) / 2 - 100px);
      bottom: 0;
}

/* ===== Clients ==== */
.clients {
      margin-top: 79px;
      padding: 43px 64px;
}

.clients .row {
      display: flex;
      justify-content: space-between;
}

.clients .row .desc {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25;
      color: #7d8589;
}

.clients .row-desc {
      margin-top: 23px;
}

.clients .img {
      margin-top: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.clients .img a {
      display: flex;
      align-items: center;
      padding: 0 42px;
      height: 90px;
      border-radius: 12px;
}
.clients .img a:hover {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}
/* ===== Guides ==== */

.guides {
      margin-top: 40px;
      padding: 93px 0 79px;
}

.guides .sub-title {
      position: relative;
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 1;
      text-align: center;
      color: #000339;
}

.guides .sub-title::before {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      display: inline-block;
      width: 41px;
      height: 4px;
      background: #000339;
      border-radius: 12px;
}

.guides .desc {
      width: 459px;
      max-width: 100%;
      margin: auto;
      margin-top: 20px;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.88;
      text-align: center;
      color: #5a6473;
}

.list-guide {
      margin-top: 70px;
      display: flex;
      justify-content: center;
}

.guides-item {
      margin: 0 70px;
      text-align: center;
}

.guides-item .title {
      margin-top: 26px;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.1;
      /* identical to box height, or 110% */

      text-align: center;

      color: #3b3c45;
}

.guides-item .link {
      display: inline-block;
      margin-top: 10px;
      font-weight: 600;
      font-size: 1rem;
      color: #0689ff;
}

.guides .arrow {
      margin-left: 8px;
}

.guides-cta {
      display: flex;
      justify-content: center;
      margin-top: 50px;
}

.guides-cta .btn {
      min-width: 170px;
      padding: 14px 25px;
      font-size: 0.8rem;
}

.guides-cta:hover {
      opacity: 0.8;
}

/* ===== featured ==== */
.featured {
      margin-top: 41px;
      padding: 110px 0;
      background: #f5fafe;
}

.featured .sub-title {
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 1;
      color: #000339;
}

.featured .row {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
}

.featured .desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      /* identical to box height, or 188% */

      display: flex;
      align-items: flex-end;

      color: #5a6473;
}
.featured .link {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      color: #0689ff;
}

.featured .link .arrow {
      margin-left: 8px;
}

.featured .list {
      margin-top: 70px;
      display: flex;
      gap: 30px;
}

.featured .item {
      box-shadow: 10px 15px 20px #888888;
      border-radius: 12px;
      background-color: #fff;
      flex: 1;
}

.featured .item .thumb {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      width: 100%;
      height: 227px;
      object-fit: cover;
}

.featured .item .body {
      padding: 17px 20px 24px;
}

.featured .item .title a {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.5;
      color: #000339;
}

.featured .item .desc {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #a3a6ab;
      word-break: break-all;
}

.featured .item .info {
      display: flex;
      align-items: center;
      margin-top: 22px;
}

.featured .item .label {
      margin-left: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: #4d4d52;
}

.featured .item .icon {
      margin-left: 22px;
}

.featured .item .icon:first-child {
      margin-left: 0px;
}

/* stats */

.stats {
      margin-top: 75px;
      padding: 50px 0;
}

.stats .content {
      width: 1048px;
}

.stats .row {
      display: flex;
}

.stats .img-block,
.stats .info {
      width: 50%;
}

.stats .img-block .image {
      display: block;
      width: 400px;
      height: 400px;
      object-fit: cover;
      border-radius: 12px;
      margin-left: auto;
      box-shadow: 10px 15px 20px #888888;
}

.stats .info {
      padding: 79px 0 0 165px;
}

.stats .img-block {
      position: relative;
}

.stats-trend {
      padding: 45px 25px 40px;
      position: absolute;
      top: 0;
      left: 0;
      width: 239px;
      background: #ffffff;
      box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
      border-radius: 0px 0px 12px 12px;
}

.stats-trend .value {
      font-weight: 700;
      font-size: 26px;
      letter-spacing: 0.01em;
      color: #000339;
}

.stats-trend .icon {
      margin-left: auto;
}

.stats-trend .desc {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      /* or 150% */
      margin-top: 8px;
      color: #a7a7a7;
}

.stats-trend .separate {
      height: 1px;
      background: #00bfff;
      margin-top: 25px;
}
.stats .sub-title {
      position: relative;
      width: 269px;
      font-weight: 600;
      font-size: 35px;
      line-height: 45px;
      color: #000339;
}

.stats .sub-title::before {
      position: absolute;
      left: 0;
      top: -10px;
      content: "";
      display: block;
      width: 41px;
      height: 4px;
      background: #000339;
      border-radius: 12px;
}

.stats .info .desc {
      width: 309px;
      margin-top: 20px;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.8;
      color: #5a6473;
}

.stats .avatar-block {
      margin-top: 26px;
}

.stats .avatar-group {
      display: flex;
}

.stats .avatar {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: -3px;
      background: var(--bg-color, #ffff);
      font-weight: 450;
      font-size: 7px;
      line-height: 16px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ffffff;
}

.stats .avatar-block {
      display: flex;
      gap: 14px 16px;
      flex-wrap: wrap;
}

.stats .row-qty {
      margin-top: 110px;
      padding: 0 32px;
      justify-content: space-between;
}

.stats .qty {
      font-weight: 600;
      font-size: 64px;
      line-height: 64px;
      /* identical to box height, or 100% */

      color: #000000;
}

.stats .qty-desc {
      margin-top: 24px;
      font-weight: 500;
      font-size: 18px;
      color: #7b8087;
}

/* subscription============= */

.subscription {
      margin-top: 90px;
}

.subscription .body {
      position: relative;
      display: flex;
      align-items: center;
      background: #063183;
      border-radius: 20px;
      height: 370px;
}

.subscription .info {
      padding: 0 80px;
      width: 671px;
}

.subscription .sub-title {
      font-weight: 600;
      font-size: 35px;
      line-height: 1.5;
      color: #ffffff;
}

.subscription .desc {
      margin-top: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.88;
      /* identical to box height, or 188% */

      color: #ffffff;

      opacity: 0.75;
}

.subscription .btn {
      margin-top: 20px;
      min-width: 151px;
      background: #ffffff;
      color: #000339;
}

.subscription .image {
      position: absolute;
      bottom: 0;
      right: 221px;
}

/* footer */

.footer {
      margin-top: 55px;
      padding: 50px 0 58px;
}

.footer .row {
      display: flex;
}

.footer .row-top {
      gap: 185px;
}

.footer .heading {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #1c1c1d;
}

.footer .list,
.footer .desc {
      margin-top: 42px;
}

.footer .item a,
.footer .desc {
      white-space: nowrap;
      margin-top: 18px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #7a7a7e;
}

.footer .desc {
      margin-top: 42px;
      white-space: normal;
}

.footer .social {
      margin-top: 40px;
      display: flex;
}

.footer .social-link {
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #f9f9f9;
}

.footer .social-link + .social-link {
      margin-left: 16px;
}

.footer .social-link:hover {
      background: #a3a6ab;
}

.footer .row-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 81px;
}

.footer .copyright {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      color: #c2c2c2;
}
